{
  "useTabs": false,
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-classnames"],
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80,
        "useTabs": false,
        "trailingComma": "all",
        "arrowParens": "avoid",
        "proseWrap": "never"
      }
    },
    {
      "files": "*.{json,babelrc,eslintrc,remarkrc,prettierrc}",
      "options": {
        "useTabs": false
      }
    },
    {
      "files": "*.{ts,tsx}",
      "options": {
        "printWidth": 80,
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "singleAttributePerLine": true
      }
    }
  ]
}
